services:
  backend:
    build:
      context: .  # Le contexte reste la racine du projet
      dockerfile: Dockerfile
    volumes:
      - ./src:/app/src  # Monte directement ./src comme /app
    ports:
      - '3000:3000'
    depends_on:
      - mariadb
    environment:
      DB_HOST: mariadb
      DB_USER: root
      DB_PASSWORD: examplepassword
      DB_NAME: file_server_db

  mariadb:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: examplepassword
      MYSQL_DATABASE: file_server_db
    ports:
      - '3306:3306'
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
